# Arquivos temporários
# *.tmp ou *.log - Ignore qualquer arquivo que termine com .tmp ou .log
*.tmp
*.log

# Pastas que estão sendo ignoradas
Produção - Claro/
Produção - Escuro/
Produção - Escuro - V2/
Produção - Escuro - V3/
Produção - Escuro - V4/

# Arquivos sensíveis (exemplo)
.env

# Sistema operacional
.DS_Store
Thumbs.db